@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 1, 4, 9;
  --background-start-rgb: 255,255,255;
  --background-end-rgb: 255,255,255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255,255,255;
    --background-start-rgb: 1, 4, 9;
    --background-end-rgb: 1, 4, 9;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
} 

@media (min-width: 576px) {
  .container {
      width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
      width: 650px;
  }

}
